.order-now {
  .list {
    margin: 6px 0 0;
  }
  .order-address {
    //    background: url("/img/order/order_address_bg.png") repeat-x  0 3px #fff;
    //    -webkit-background-size: 43px 50px;
    //    background-size: 43px 50px;
    border: none;
    .sw-bg {
      display: block;
      height: 8px;
      width: 100%;
      background: url("/img/order/order_address_bg.png") repeat-x 0 2px #fff;
    }
    .item {
      border: none;
      padding-left: 30px;
      .add-address-now {
        line-height: 36px;
        font-size: 15px;
      }
      &.address-default {
        .row {
          font-size: 15px;
          margin-bottom: 6px;
          .col {
            &:first-child {
              color: #444;
              font-size: 14px;
            }
            &:last-child {
              text-align: right;
            }
          }
        }
        p {
          font-size: 12px;
          line-height: 16px;
        }

      }
      &.item-icon-left {
        .icon {
          left: 10px;
        }
      }
      &.item-icon-right {
        .icon {
          &:last-child {
            right: 10px;
            left: auto;
            color: $positive;
          }
        }
      }

      .icon {
        &:before {
          width: auto;
        }
        font-size: 24px;
      }
    }
  }
  .cart-list {
    .item-total {
      background-color: #f8f8f8;
      border-top: 1px solid #dadada;
      .col-50{
        text-align: right;
      }
      .col{
        line-height: 30px;
        height: 40px;
      }
      .button-positive {
        line-height: 30px;
        min-height: auto;
        border-radius: 2px;
      }
    }
  }
}

.list-check {
  .item {
    border-width: 1px 0;
    border-color: #fff;
  }
  .item-top {
    font-size: 14px;
    color: $positive;
    i {
      font-size: 14px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  .item-footer {
    padding: 10px;
    p {
      font-size: 12px;
      padding: 5px;
      line-height: 16px;
    }
    .text-right {
      border-bottom: 1px solid #eee;
      padding: 5px;
      .positive {
        font-size: 16px;
      }
    }
  }
  .item-thumbnail-left {
    background-color: #f2f2f2;

    h2 {
      font-size: 14px;
      a{
        color: #666;
        text-decoration: none;
        max-height: 32px;
        line-height: 15px;
        display: block;
      }
    }
    p {
      font-size: 12px;
    }
    .row-price {
      .price-txt {
        font-size: 14px;
      }
    }

    .invalid {
      h2 {
        font-size: 14px;
        max-height: 30px;
        line-height: 15px;
        text-decoration: none;
        color: #666;
        display: block;
      }
      p {
        -webkit-text-size-adjust:none;
        font-size: 12px;
        span {
          background-color: #aaaaaa;
          padding: 2px 5px;
          border-radius: 5px;
          color: white;
          font-size: 12px;
        }
      }
    }

  }
}

.list-payment {
  padding: 0 10px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  .item {
    border: none;
    margin: 0;
  }
  .item-title {
    border-bottom: 1px solid #ccc;
    font-size: 15px;
  }
  .item-pay {
    font-size: 12px;
    padding-left: 40px;
    border-bottom: 1px solid #f2efee;
    .icon {
      font-size: 24px;
      left: 5px;
      &.ion-weixin{
        color: #91ff78;
      }
      &.ion-alipay{
        color: #00a0e9;
      }
    }
    &:last-child {
      border: none;
    }
    .checkbox {
      width: 100%;
      position: absolute;
      right: 8px;
    }
    .checkbox input,
    .checkbox-icon {
      width: 14px;
      height: 14px;
      float: right;
      margin-top: -4px;
      &:after {
        top: 24%;
        left: 20%;
        width: 8px;
        height: 5px;
      }
    }
  }
}
