<ion-view view-title="退款详情">
  <ion-content>
    <div class="refund-detail">

      <div class="status-applying" ng-if="data.pay_status == 0">
        <div class="title"><p>等待商家处理退款申请</p></div>
        <div class="content">
          <p><span>如果商家同意 : </span>申请将达成并退款至您的付款账户(支付宝, 微信)</p>
          <p><span>如果商家发货 : </span>申请将关闭, 关闭后您可再次发起退款</p>
          <p><span>如果商家未处理 : </span>超过 7 天则申请达成并为您退款</p>
        </div>
      </div>

      <div class="status-reject" ng-if="data.pay_status == 1">
        <div class="title"><p>退款已关闭 (卖家驳回退款请求)</p></div>
        <div class="content">
          <p><span>关闭理由 : </span>{{ data.dispose_idea }}</p>
          <p><span>关闭时间 : </span>{{ data.dispose_time }}</p>
        </div>
      </div>

      <div class="status-success" ng-if="data.pay_status == 3">
        <div class="title"><p>退款已同意</p></div>
        <div class="content">
          <p><span>退款金额 : </span>{{ data.amount }} 元</p>
          <p><span>退款时间 : </span>{{ data.dispose_time }}</p>
        </div>
      </div>

      <div class="status-refunded" ng-if="data.pay_status == 2">
        <div class="title"><p>退款已成功</p></div>
        <div class="content">
          <p><span>退款金额 : </span>{{ data.amount }} 元</p>
          <p><span>退款时间 : </span>{{ data.dispose_time }}</p>
        </div>
      </div>

      <div class="row contact-seller">
        <div class="col col-50 name">{{ order.seller.true_name }}</div>
        <div class="col col-50"></div>
      </div>

      <div class="list detail">
        <div class="item row">
          <div class="col col-25">退款类型: </div>
          <div class="col col-75" ng-if="data.origin_price == data.amount "><p>全额退款</p></div>
          <div class="col col-75" ng-if="data.origin_price != data.amount "><p>沟通金额退款</p></div>
        </div>
        <div class="item row">
          <div class="col col-25">退款金额: </div>
          <div class="col col-75"><p>{{ data.amount }} 元</p></div>
        </div>
        <div class="item row">
          <div class="col col-25">退款原因: </div>
          <div class="col col-75"><p>{{ data.content }}</p></div>
        </div>
      </div>

    </div>
  </ion-content>


  <div class="bar bar-footer order-detail-footer" ng-if="data.pay_status == 1">
    <div class="title">
      <a ng-href="#/app/refund/apply/{{ order_goods.order_id }}/{{ order_goods.id }}" class="button button-outline button-positive">再次申请退款</a>
    </div>
  </div>

</ion-view>
