.sku-modal{
  min-height: inherit;
  max-height: 80%;
  top: auto;
  bottom:0;
  padding-bottom: 45px;
  .s-content{
    max-height: 205px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.sku-detail{
  .item-thumbnail-left{
    .item-image{
      top: 15px;
    }
  }
  .item-thumbnail-left,
  .item-thumbnail-left .item-content{
    padding-top: 25px;
  }
  .item-close{
    position: absolute;
    right: 0px;
    top: 10px;
    display: block;
    width: 25px;
    height: 25px;
    color: #ff7a9a;
    font-size: 16px;
    margin-top: -5px;
  }
  .product-name{
    font-size: 14px;
  }
  .row-price{
    .price-txt{
      font-size: 15px;
    }
  }
  .sku-total-num{
    text-align: right;
    line-height: 25px;
  }
  .item-check-now{
    padding: 5px 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #dcdcdc;
    button{
      margin-right: 20px;
      min-width: 100px;
    }
  }
}

.item-sku-filter{
  padding: 10px;
  .col-quantity{
    float: right;
  }
  .row-quantity{
    .col{
      line-height: 24px;
    }
  }
  dl{
    padding-bottom: 12px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 15px;

  }
  .filter-cates{
    color: #a5a5a5;
    font-size: 12px;
    line-height: 12px;
  }
  .filter-items{
    overflow: hidden;
    span{
      display: block;
      float: left;
      white-space: normal;
    }
    a{
      display: block;
      font-size: 12px;
      text-align: center;
      border: 1px solid #dcdcdc;
      border-radius: 2px;
      margin-right: 8px;
      min-width: 50px;
      line-height: 24px;
      margin-top: 5px;
      color: #7f7f7f;
      padding: 2px 5px;
      text-decoration: none;
      &.active{
        background-color: #fd84a1;
        border-color: #fd84a1;
        color: #fff;
      }
      &.disabled{
        border-style: dashed;
        border-color: #DEDEDE;
        color: #DEDEDE;
      }
    }
  }
}

.col-quantity{
  border: 1px solid #dcdcdc;
  height: 30px;
  overflow: hidden;
  width: 100px;
  line-height: 30px;
  button,
  input{
    display: inline-block;
    line-height: 28px;
    height: 28px;
    font-size: 15px;
    border: none;
    margin: 0 -3px 0 0;
    padding: 0;
    border-radius: 0;
    background: none;
    vertical-align: top;
    font-weight: 200;
  }
  button{
    width: 30px;
    border: none;
  }
  input{
    width: 40px;
    border: 1px solid #dcdcdc;
    border-width: 0 1px;
    color: #ff0157;
  }
}
