<ion-modal-view class="sku-modal">
    <section ng-controller="shareCtrl" class="share-detail">
        <div class="list list-share">
            <div class="item share-item">
                <h2>好宝贝齐分享<br/>选择如下方式即可分享~</h2>
                <div class="row row-share">
                    <div class="col">
                        <a href="">
                            <i class="ion-social-twitter wechat"></i>
                            <div class="share-txt">微信朋友圈</div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="">
                            <i class="ion-social-twitter wechat"></i>
                            <div class="share-txt">微信朋友圈</div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="">
                            <i class="ion-social-twitter qq"></i>
                            <div class="share-txt">微信朋友圈</div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="">
                            <i class="ion-social-twitter qq"></i>
                            <div class="share-txt">微信朋友圈</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item item-refuse">
                <button class="button button-positive" ng-click="hideShare()">残忍拒绝</button>
            </div>
        </div>

    </section>
</ion-modal-view>
