.cart-list {
  margin: 6px 0 0;

  .item-thumbnail-left {
    min-height: 80px;
    .item-image {
      left: 35px;
    }
    .item-content{
      padding: 0;
      min-height: 0 ;
      .cart-item-edit{
        .goods-spec{
          line-height: 14px;
          margin-top: 5px;
          i{
            float: right;
          }
        }
        .col-quantity{
          border-width: 0 0 1px;
          border-color: #fff;
          width: 124px;
          height: 30px;
          button{
            width: 33.34%;
            line-height: 30px;
          }
          input{
            border-color: #fff;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            width: 33.34%;
          }
        }
        .cart-del-btn{
          position: absolute;
          height: 100%;
          margin: -15px 0;
          border: none;
          border-radius: 0;
          right: 0;
          min-width: 60px;
        }
      }
    }
    h2 {
      margin-bottom: 5px;
      a{
        font-size: 14px;
        max-height: 30px;
        line-height: 15px;
        text-decoration: none;
        color: #666;
        display: block;
      }
    }
    p {
      font-size: 12px;
    }
    .price-txt {
      font-size: 15px;
      line-height: 15px;
    }
    .col-34 {
      line-height: 18px;
    }
  }

  .item {
    border: none;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
    &.item-top {
      background-color: #fff;
      padding: 5px 10px 5px 30px;
      .checkbox {
        width: 80%;
      }
      .item-content {
        font-size: 12px;
        i {
          padding: 0 3px;
          font-size: 14px;
          vertical-align: middle;
          line-height: 14px;
        }
        .col-edit {
          text-align: right;
          border-left: 1px solid #d4d4d4;
          a {
            color: #666;
            text-decoration: none;
          }
        }
      }
    }
    &.item-footer {
      text-align: right;
      color: #666;
      .mall-total {
        font-size: 18px;
      }
    }
  }

  .item-checkbox {
    padding-left: 30px;
    .checkbox {
      margin-top: -15px;
      width: 25px;
    }
    .checkbox input,
    .checkbox-icon {
      width: 14px;
      height: 14px;
      &:after {
        top: 24%;
        left: 20%;
        width: 8px;
        height: 5px;
      }
    }
  }
  .item-left-editable {
    padding-left: 30px;
    background-color: #f2f2f2;
    border: 1px solid #fff;
    max-height: 120px;
    overflow: hidden;
  }

  .item-total {
    border-color: #dadada !important;
    border-width: 1px 0 0 !important;
    .button {
      margin: 0;
      line-height: 49px;
      border: none;
      font-size: 14px;
    }
    .col-total {
      height: 46px;
      line-height: 52px;
      overflow: hidden;
      text-align: center;
      .positive {
        font-size: 18px;
        vertical-align: middle;
      }
    }
    .checkbox {
      width: 20%;
      font-size: 16px;
      padding: 5px 10px;
      input {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
.cart-title-line{
  padding: 11px 0;
  font-size: 13px;
  color: #666666;
}

.list-tabao {
  margin-top: 6px;
  .item{
    border-width: 0 0 1px !important;
  }
  .item-image {
    background: url("/img/product/tb.png") no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 0px;
  }
  h2 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ff5910;
  }
  p {
    font-size: 12px;
  }
  .icon {
    font-size: 14px;
    color: #a5a5a5;
  }
}