.empty-cart{
  background: url(#{$img-url}cart/shoppingcart_none.png) no-repeat center center;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 164px;
  -webkit-background-size: 200px 164px;
  background-size: 200px 164px;
}
.button-edit{
  color: $dark !important;
}
.cart-list {
  margin: 6px 0 0;



  .item-thumbnail-left {
    min-height: 80px;
    .item-image {
      left: 35px;
    }
    .item-content{
      padding: 0;
      min-height: 0 ;
      .cart-item-edit{
        .goods-spec{
          line-height: 14px;
          margin-top: 5px;
          display: block;
          min-height: 28px;
          i{
            float: right;
          }
        }
        .col-quantity{
          border-width: 0 0 1px;
          border-color: #fff;
          width: 124px;
          height: 30px;
          button{
            width: 33.34%;
            line-height: 30px;
          }
          input{
            border-radius: 0;
            border-color: #fff;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            width: 33.34%;
          }
        }
        .cart-del-btn{
          position: absolute;
          height: 100%;
          margin: -15px 0;
          border: none;
          border-radius: 0;
          right: 0;
          min-width: 60px;
        }
      }
      .invalid {
        h2 {
          font-size: 14px;
          max-height: 30px;
          line-height: 15px;
          text-decoration: none;
          color: #666;
          display: block;
        }
        p {
          -webkit-text-size-adjust:none;
          font-size: 12px;
          span {
            background-color: #aaaaaa;
            padding: 2px 5px;
            border-radius: 5px;
            color: white;
            font-size: 12px;
          }
        }
      }
    }
    h2 {
      margin-bottom: 5px;
      a{
        font-size: 14px;
        max-height: 30px;
        line-height: 15px;
        text-decoration: none;
        color: #666;
        display: block;
      }
    }
    p {
      font-size: 12px;
    }
    .price-txt {
      font-size: 15px;
      line-height: 15px;
    }
    .col-34 {
      line-height: 18px;
    }
  }

  .item {
    border: none;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
    &.item-top {
      background-color: #fff;
      padding: 5px 10px 5px 30px;
      .checkbox {
        width: 80%;
      }
      .item-content {
        font-size: 12px;
        i {
          padding: 0 3px;
          font-size: 14px;
          vertical-align: middle;
          line-height: 14px;
        }
        .col-edit {
          text-align: right;
          border-left: 1px solid #d4d4d4;
          a {
            color: #666;
            display: block;
            text-align: right;
            text-decoration: none;
          }
        }
      }
    }
    &.item-footer {
      text-align: right;
      color: #666;
      .mall-total {
        font-size: 18px;
      }
    }
  }

  .item-checkbox {
    padding-left: 30px;
    .checkbox {
      margin-top: -15px;
      width: 25px;
    }
    .checkbox input,
    .checkbox-icon {
      width: 14px;
      height: 14px;
      &:after {
        top: 24%;
        left: 20%;
        width: 8px;
        height: 5px;
      }
    }
  }
  .item-left-editable {
    padding-left: 30px;
    background-color: #f2f2f2;
    border: 1px solid #fff;
    max-height: 120px;
    overflow: hidden;
  }

  .item-total {
    border-color: #dadada !important;
    border-width: 1px 0 0 !important;
    .button {
      margin: 0;
      line-height: 49px;
      border: none;
      font-size: 14px;
    }
    .col-total {
      height: 46px;
      line-height: 52px;
      overflow: hidden;
      text-align: center;
      .positive {
        font-size: 18px;
        vertical-align: middle;
      }
    }
    .checkbox {
      width: 20%;
      font-size: 16px;
      padding: 5px 10px;
      input {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
.cart-title-line{
  padding: 11px 0;
  font-size: 13px;
  color: #666666;
}

.list-tabao {
  &.list {
    margin-bottom: 0px;
  }
  margin-top: 6px;
  .item{
    border-width: 0 0 1px !important;
  }
  .item-image {
    background: url("/img/product/tb.png") no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 0px;
  }
  h2 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ff5910;
  }
  p {
    font-size: 12px;
  }
  .icon {
    font-size: 14px;
    color: #a5a5a5;
  }
}

.group-status{
  background-color: #ff2a7a;
  padding: 2px;
  margin: 7px 0;
  .share-group{
    display: block;
    margin: 10px 0 0;
    img{
      max-width: 100%;
    }
//    width: 120px;
//    height: 30px;
//    background-image: url(#{$img-url}order/share_gp.png);
//    -webkit-background-size: 120px 30px;
//    background-size: 120px 30px;
  }
  .col{
    padding: 10px;
  }
  .col1{
    border-right: 1px solid #bb0143;
  }
  .col2{
    border-left: 1px solid #ff5e9a;
    color: #fff;
    flex: 0 0 60%;
    max-width: 60%;
    h2{
      font-size: 14px;
      font-weight: normal;
      color: #fff;
      margin: 0;
    }
    p{
      font-size: 12px;
      line-height: 14px;
      margin: 0;
      -webkit-transform: scale(.8);
      transform: scale(.8);
      -webkit-transform-origin:0 ;
      transform-origin:0 ;

    }
  }
}