<div class="nav-bar-block">
  <ion-header-bar align-title="center" class="bar bar-header disable-user-behavior">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item"><i
        class="icon ion-ios-arrow-left"></i>
    </button>
    <div class="title title-center header-item">物流跟踪</div>
  </ion-header-bar>
</div>
<div class="scroll-content has-header ionic-scroll overflow-scroll">

  <div class="delivery-trace" ng-repeat="row in data">
    <div class="trace-header">
      <i class="icon ion-trace"></i>
      <div>
        <h2>{{ row.freight_company }}</h2>

        <p>快递单号：{{ row.delivery_code }}</p>
      </div>
    </div>
    <div class="list-trace">
      <div class="trace-item" ng-class="{'active':$first}" ng-repeat="trace in row.traces | reverse">
        <div class="trace-process">
          <div class="line"></div>
          <i class="trace-point"></i>
        </div>
        <div class="trace-content" ng-class="{'last':$last}">
          <h2>{{ trace.accept_station }}</h2>
          <p>{{ trace.accept_time }}</p>
        </div>

      </div>
    </div>
  </div>

</div>
