<div class="nav-bar-block">
  <ion-header-bar align-title="center" class="bar bar-header disable-user-behavior">
    <button ng-click="goStateBack()" class="button back-button buttons button-clear header-item"><i
        class="icon ion-ios-arrow-left"></i>
    </button>
    <div class="title title-center header-item">我的订单</div>
  </ion-header-bar>
</div>
<div class="scroll-content has-header ionic-scroll order-list">
  <ion-tabs class="tabs-top tabs-stable ">
    <ion-tab title="全部" class="positive" on-select="onTabSelected(0)">
      <ion-nav-view name="tab-tab1">
        <ion-content overflow-scroll="true">
          <ion-list>
            <div class="list-tabao list-arrow">
              <a class="item item-avatar-left item-icon-right" ng-click="taobaoOrder()">
                <div class="item-image"></div>
                <h2>淘宝订单</h2>
                <p>找不到订单, 来这里看看哦~</p>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
            </div>
            <div class="divide-line">
              <div></div>
              <span><i><b>精品街商城订单</b></i></span>
            </div>

            <div class="order-record-none" ng-if="ordersList[0].list.length == 0"></div>

            <div class="order-record" ng-if="ordersList[0].list.length > 0">
              <ion-item ng-repeat="item in ordersList[0].list" ng-include="'/templates/order/list.data.html'"></ion-item>
            </div>

          </ion-list>
          <div class="padding text-center">
            {{ ordersList[0].more ? '加载中..' : '没有更多' }}
          </div>

          <ion-infinite-scroll immediate-check="false" ng-if="ordersList[0].more" on-infinite="loadMore(0)" distance="20px"></ion-infinite-scroll>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="待付款" badge="ordersList[1].badge" on-select="onTabSelected(1)">
      <ion-nav-view name="tab-tab2">
        <ion-content overflow-scroll="true">
          <ion-list>
            <div class="divide-line">
              <div></div>
              <span><i><b>精品街商城订单</b></i></span>
            </div>

            <div class="order-record">
              <ion-item ng-init="tabOn = 1" ng-repeat="item in ordersList[1].list" ng-include="'/templates/order/list.data.html'"></ion-item>
            </div>
          </ion-list>
          <div class="padding text-center">
            {{ ordersList[1].more ? '加载中..' : '没有更多' }}
          </div>
          <ion-infinite-scroll ng-if="ordersList[1].more"  immediate-check="false" on-infinite="loadMore(1)" distance="20px"></ion-infinite-scroll>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="待发货" badge="ordersList[2].badge" on-select="onTabSelected(2)">
      <ion-nav-view name="tab-tab2">
        <ion-content overflow-scroll="true">
          <ion-list>

            <div class="divide-line">
              <div></div>
              <span><i><b>精品街商城订单</b></i></span>
            </div>

            <div class="order-record">
              <ion-item ng-repeat="item in ordersList[2].list" ng-include="'/templates/order/list.data.html'"></ion-item>
            </div>
          </ion-list>
          <div class="padding text-center">
            {{ ordersList[2].more ? '加载中..' : '没有更多' }}
          </div>
          <ion-infinite-scroll immediate-check="false" ng-if="ordersList[2].more" on-infinite="loadMore(2)" distance="10%"></ion-infinite-scroll>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="待收货" badge="ordersList[3].badge" on-select="onTabSelected(3)">
      <ion-nav-view name="tab-tab2">
          <ion-content overflow-scroll="true">
          <ion-list>

            <div class="divide-line">
              <div></div>
              <span><i><b>精品街商城订单</b></i></span>
            </div>

            <div class="order-record">
              <ion-item ng-repeat="item in ordersList[3].list" ng-include="'/templates/order/list.data.html'"></ion-item>
            </div>
          </ion-list>
          <div class="padding text-center">
            {{ ordersList[3].more ? '加载中..' : '没有更多' }}
          </div>
          <ion-infinite-scroll immediate-check="false" ng-if="ordersList[3].more" on-infinite="loadMore(3)" distance="10%"></ion-infinite-scroll>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="已完成" on-select="onTabSelected(4)">
      <ion-nav-view name="tab-tab2">
        <ion-content overflow-scroll="true">
          <ion-list>

            <div class="divide-line">
              <div></div>
              <span><i><b>精品街商城订单</b></i></span>
            </div>

            <div class="order-record">
              <ion-item ng-repeat="item in ordersList[4].list" ng-include="'/templates/order/list.data.html'"></ion-item>
            </div>
          </ion-list>
          <div class="padding text-center">
            {{ ordersList[4].more ? '加载中..' : '没有更多' }}
          </div>
          <ion-infinite-scroll immediate-check="false" ng-if="ordersList[4].more" on-infinite="loadMore(4)" distance="10%"></ion-infinite-scroll>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

  </ion-tabs>
</div>

