.address-edit {

  .list {
  }
  .item {
    border-top: 0;

    .input-label {
      font-size: 13px;
      color: #666;
    }

    input {
      font-size: 13px;
      text-align: right;
    }


  }



}
