.address-edit {

  .list {
    margin-top: 10px;
  }
  .item {

    .input-label {
      font-size: 13px;
      color: #666;
    }

    input {
      font-size: 13px;
      text-align: right;
    }


  }



}
