.address-list {
  
  .address-none{
    background: url(#{$img-url}address/address_none.png) center center no-repeat;
    width: 200px;
    height: 164px;
    -webkit-background-size: 200px 164px;
    background-size: 200px 164px;
    margin: 0 auto;
  }

  .item {
    margin-top: 5px;
    padding: 0px 10px;
    border-top: 0;
    border-bottom: 1px solid #e1dedd;

    .address-info {
      border-bottom: 1px solid #f2efee;

      .row:first-child {
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        
        h3 {
          font-weight: normal;
          color: #666;
        }
      }
      .row.address {
        white-space: normal;
        color: #9c9c9c;
      }
    }

    .address-op {
      height: 30px;
      padding: 0;
      padding-left: 5px;
      padding-right: 5px;

      .col:first-child {
        padding: 0;
        color: #adadad;
        padding-left: 22px + 5px;
        line-height: 31px;
        background: url("/img/address/address_default.png") no-repeat 5px center;
        background-size: 18px 18px;

        &.active {
          background: url("/img/address/address_active.png") no-repeat 5px center;
          background-size: 18px 18px;
        }
      }

      .col:last-child {
        padding: 0;

        a {
          color: #ff7a9a;
          font-size: 16px;
          position: relative;
        }

        span {
          padding-left: 1px;
          line-height: 30px;
          font-size: 16px;
          background-color: #e1dedd;
        }
      }
    }

  }



}
